@charset "UTF-8";

/* Paleta de cores
Verde: #49a09d
Lilas: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,
html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;

}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.595);

    transition: width 0.5s, height 0.3s;
    transition-timing-function: ease;
}

section#login>div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/10-14-Night.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    height: 125px;

}

section#login>div#formulario {
    display: block;
    padding: 10px;

}

div#formulario>h1,
p {
    margin-bottom: 10px;
    text-align: center;
}


form>div.campo {
    display: block;
    background-color: #5f2c82;
    height: 30px;
    margin: 3px 0px;
    border-radius: 5px;
}

form>div.campo>i {
    background-color: black;
    text-align: center;
    color: white; 
    width: 35px;
    height: 100%;
    padding: 2px;
    border-radius: 5px;
}

form>div.campo>input {
    background-color: #49a09d;
    font-size: 1em;
    width: calc(100% - 40px);
    height: 100%;
    transform: translateY(-4px);
    border: 0px;
    border-radius: 5px;
    padding: 2px;
    margin: 0px;
}



section#login>div#formulario>p {
    font-size: 0.8em;
    margin-bottom: 10px;
}

form>input[type=submit] {
    display: block;
    font-size: 1em;
    background-color: #49a09d;
    color: white;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
}

form>input[type=submit]:hover {
    background-color: #2c6260;
    cursor: pointer;
}

form>a.botao {
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: white;
    color: #193837;
    font-size: 1em;
    height: 30px;
    width: 100%;
    padding-top: 0px;
    margin-top: 5px;
    border: 1px solid #6cfcf7;
    border-radius: 5px;
}

form>a.botao:hover {
    background-color: #6cfcf7;
}

form>a.botao>span {
    font-size: 1em;
}